@charset 'utf-8';

@import 'settings';
@import '../bower_components/foundation-sites/scss/foundation.scss';
@import '../bower_components/motion-ui/motion-ui.scss';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-gris;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;s
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
}
h2.title {
  width:12em;
  text-align: center;
  margin:0 auto;
  font-size:2em;
  text-transform:uppercase;
}
.subtitle {
  width:30rem;
  margin:0 auto;
  padding:1rem;

}
.button {
  text-transform:uppercase;
  font-family: 'Lato', sans-serif;
}
.button[data-mode="true"] {
  color: #fff;
  background-color: #282566;
  border-color: #204d74;
  border-style: inset;
}

.floatingMenu {
  background-color: #3F3F3F;
  z-index:100000;
  display:none;
  width:5rem;
  position: absolute;
  top:0;
  left:0;
  a {
    color: white;
  }
  a[data-mode="false"], a[data-mode="false"]:hover {
    color: red;
  }
  a:hover{
    color: grey;
  }

}
table.dataTable span.highlight {
  background-color: #FFFF88;
}
